*{ margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}


body{
    text-align: center;
    font-family: sans-serif;

}

ol {
    list-style: none;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;


}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{ 
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover { 
    background: #424242;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

    
.header {
    height: 100vh !important;

    background:  url(/NANDEO\ FERNANDEZ/banner.jpg);
    background-size: cover;
    
    

}
 
.title {
    margin-bottom: 40px;
    font-size: 60 px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #101010;
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(64, 61, 240);
    color: #fff;
    text-decoration: none;
    background:  rgb(64, 61, 240);

}
.btn:hover{
    background: none;
}
.btn-home {
    display: flex;
}
.btn-home a{
    margin: 0 10px;

}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d;

}
.box-coteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-coteiner .box {
    height: 11rem;
    width:  17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.3rem 5rem rgb(0,0,.5);
    margin: 2rem;
}
.box-coteiner .box {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background:  violet;
    font-size: 2rem;
    margin: 1rem 0;

}
.container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 200
200 200
     20px;
  }

.box-coteiner .box h3 {
    font-size: 20px;
    color: blueviolet;

}
.box-coteiner .box p {
    padding: 0 15px;
    font-size: 10px;

}
.about {
    background: #171717;
}
.price {
    background: url(/NANDEO\ FERNANDEZ/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;

}

footer {
    color: white;
    
    
  }

  .footer-content {
    text-align: left;
    font-family: Arial, sans-serif;
  }

  .content.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .images {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .img {
    width: 100%;
    padding: 100px;
  }
  
  footer {
    background-color: #101010;
    color: white;
    
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content {
    text-align: center
    
  }
  
  .names {
    text-align: center;
  }

@media     (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 60px;

    }     
    .sau {
        height: 120vh;
    }
    .navbar { 
        display: none;
    }
}